/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
.activee {
    background-color: #7d8da1;
}
a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff!important;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
    margin-top: 30px;
}

.dsgc-boris {
    fill: #5d666d !important;
    stroke: #5d666d !important;
}

.dsgc-boris-one {
    fill: #0054ff !important;
    stroke: #0044ff !important;
}
/* DlhSoft components. */
.dsgc-standard-bar {
    fill: #0094ff;
    stroke: #0094ff;
}

.dsgc-standard-completed-bar {
    fill: #808080;
    stroke: #808080;
}

.dslc-allocation-bar {
    fill: #0094ff;
}

.dslc-over-allocation-bar {
    fill: #ff6a00;
}

.startedStatusBar {
    fill: #0094ff;
    fill-opacity: 0.75;
    stroke: #1b6ec2;
}

.startedStatusBarStiro {
    fill: #b200ff;
    fill-opacity: 0.75;
    stroke: #5100ff;
}

.endedStatusBar {
    fill: #808080;
    fill-opacity: 0.75;
    stroke: #5d666d;
}

.issuesStatusBar {
    fill: orange;
    fill-opacity: 0.75;
    stroke: red;
}

.completedStatusBar {
    fill: #69f364;
    fill-opacity: 0.95;
    stroke: #69f364;
    /*position: center;
    height: 5pt;
    border-radius: 15px;*/
}

.errorstatusbar {
    fill: #69f364;
    fill-opacity: 0.95;
    stroke: #b12626;
    /*position: center;
    height: 5pt;
    border-radius: 15px;*/
}


.maintenanceStatusBar {
    fill: yellow;
    fill-opacity: 0.75;
    stroke: orange;
}

/* Overrides */
body {
    margin: 0;
    overflow-x: hidden;
}

/*input {
    font-size: 12px;
}*/

/* Dark theme */
/*.dark input {
    color: white;
    background-color: black;
}

    .dark input:disabled {
        color: gray;
    }

    .dark input:focus {
        color: black;
        background-color: white;
    }*/



.cell_class {
    background: black;
}

    .cell_class input {
        color: orange;
        /*padding-left: 20px;*/
    }

.container_class {
    font-size: 10pt;
}

.undefined {
    border-right: 1px solid #e8e8e8 !important;
    border-bottom: 1px solid #e8e8e8 !important;
    text-align: center;
    padding: 0px !important;
}

.container_class > div > div {
    /*width:5%!important;*/
}


label input {
    border-radius: 7px;
    border: 1px solid #323444;
    box-shadow: 1px 1px 3px #a2a2a2;
    margin-right: 20px;
}

label input::after {
    border-radius: 7px;
    border: 3px solid #323444;
    box-shadow: 1px 1px 3px #a2a2a2;
    margin-right: 20px;
}


/*.even,.odd{
    background-color:white!important;
}*/


.undefined {
    fill: #cac7c7!important;
}

#ddlCommessa {
    height: 38px;
    border-radius: 5px;
}